<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <meta name="author" content="Milijan Mosić" />
    <meta
      name="description"
      content="Personal collection of useful websites for ... me?"
    />
    <title>Winterf4ce</title>
    <link href="/static/css/index.css" rel="stylesheet" />
  </head>

  <body class="body">
    <header class="header-body">
      <h1 class="website-name">Winterf4ce</h1>
    </header>

    <img src="/static/images/background.jpg" class="wallpaper" />

    <div class="main">
      {{range .}}
      <div class="group">
        <h3 class="title">{{.Title}}</h3>

        <ul class="group-body">
          {{range .Links}}
          <a href="{{.URL}}" class="button">{{.Name}}</a>
          {{end}}
        </ul>
      </div>
      {{end}}
    </div>
  </body>
</html>
